h1 Delete a post

form(method='GET' action='/deleteSave')
    p
        label(for='id') Post ID to delete:
        input(type='text', id='id', name='id')

    button Submit

    //created delete page to delete posts